
.vcenter {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

.vcenter2 {
    vertical-align: middle !important;
    float: none !important;
    text-align:center;
}